@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>.NET MVC PROJESİ </h1>
    <p class="lead">C# Dili kullanılarak .net framework 4.52 sürümü ile mvc projesi olarak oluşturulmuştur</p>
    
</div>

